:host {
  position: relative;
  display: block;
  text-align: center;
}

.chip {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 450px;
  padding: 20px;
  background: white;
  border-radius: 3px;
  margin: 20px;

  &.wide {
    width: 750px;
  }

  &#certificates {
    overflow: hidden;
  }

  &:hover {
    .book {
      transform: rotate3d(0.1, -0.2, 0.1, 35deg) scale(1.2);
    }
    .cover {
      opacity: 1;
      transform: translateY(0%);
    }
  }
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 1.1rem;
  font-weight: 300;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.88);
  opacity: 0;
  transform: translateY(-100%);
  transition: all 0.5s ease;
  transition-property: opacity, transform;

  & > * {
    line-height: 3rem;
    &:first-child {
      margin-top: 30%;
    }
  }

  a, span {
    display: inline-block;
    line-height: 1.5rem;
    margin: 0 0.5rem;
    font-weight: bold;
  }

  a {
    color: white;
    text-decoration: none;
    margin: 0.5rem;

    &:after {
      content: '';
      display: block;
      width: 100%;
      border: 1px solid white;
      -webkit-transform: translate(0px, 6px);
      transform: translate(0px, 6px);
      opacity: 0;
      color: #999;
      transition: -webkit-transform 0.2s ease-out, opacity 0.2s ease-out;
      transition: transform 0.2s ease-out, opacity 0.2s ease-out;
    }
    &:hover:after {
      transform: translate(0px, 0px);
      opacity: 1;
    }
  }
}

.description {
  padding: 20px;
  width: 350px;
  display: inline-block;

  .logo {
    max-width: 220px;
    max-height: 120px;
  }
  .title {
    margin-top: 2rem;
    font-size: 1.5rem;
  }
  .period {
    #certificates & {
      margin-top: 1rem;
      font-weight: bolder;
      line-height: 2rem;
    }
  }
  .divider {
    line-height: 4rem;

    my-font-awesome {
      position: relative;

      &:before, &:after {
        content: ' ';
        position: absolute;
        width: 75px;
        top: 0.5rem;
        height: 2px;
        background: black;
      }
      &:before {
        left: -100px;
      }
      &:after {
        left: 40px;
      }
    }
  }
  .achievements > * {
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
}

.books {
  list-style: none;
  display: inline-block;
  width: 300px;
  height: 400px;
  vertical-align: top;
  padding: 0 25px;

  li {
    position: relative;
    width: 300px;
    float: left;
    z-index: 1;
    margin: 0px 50px 40px 0;
    perspective: 5000px;
    @extend %clearfix;
  }
}

.book {
  position: absolute;
  width: 100%;
  height: 400px;
  transform-style: preserve-3d;
  perspective: 1800px;
  transition: transform .75s;

  & > div {
    display: block;
    position: absolute;
    background-color: #597798;
    backface-visibility: hidden;
  }

  h2 {
    color: #fff;
    font-size: 15px;
    line-height: 40px;
    padding-right: 10px;
    text-align: right;

    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    padding-right: 20px;
  }

  .front,.back {
    width: 300px;
    height: 400px;
    backface-visibility: visible;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 10px;
      bottom: 0;
      width: 3px;
      background: rgba(0,0,0,0.06);
      box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
    }
  }

  .front {
    transform: translate3d(0,0,20px);
    z-index: 10;
    color: #fff;

    .title {
      padding: 0 20px 0 30px;
      margin: 2rem 0 1rem 0;
      word-break: break-word;

      h2 {
        text-align: center;
        line-height: 1.2rem;
        padding: 0;
      }

      h3 {
        font-size: 0.75rem;
        text-transform: none;
        margin: 0;
      }
    }

    .author {
      position: absolute;
      right: 0px;
      bottom: 0;
      padding: 0 20px 20px 0;
      font-size: 0.65rem;
      text-align: right;
    }
  }

  .back {
    transform: rotate3d(0,1,0,-180deg) translate3d(0,0,20px);
    box-shadow: 10px 10px 30px rgba(0,0,0,0.3);
    border-radius: 3px 0 0 3px;

    p {
      color: #fff;
      font-size: 13px;
      padding: 40px;
      text-align: center;
      font-weight: 700;
    }
  }

  .left, .right {
    width: 40px;
    left: -20px;
  }

  .left {
    height: 400px;
    transform: rotate3d(0,1,0,-90deg);

    h2 {
      color: #fff;
      font-size: 15px;
      line-height: 40px;
      padding-right: 10px;
      text-align: right;

      width: 375px;
      height: 40px;

      transform-origin: 0 0;
      transform: rotate(90deg) translateY(-40px);
    }
  }

  .right {
    height: 390px;
    top: 5px;
    background-color: white;
    transform: rotate3d(0,1,0,90deg) translate3d(0,0,295px);
    backface-visibility: hidden;
  }

  .bottom, .top {
    width: 295px;
    height: 40px;
    top: -15px;
    background-color: white;
    backface-visibility: hidden;
  }
  .bottom {
    transform: rotate3d(1,0,0,-90deg) translate3d(0,0,390px);
  }
  .top {
    transform: rotate3d(1,0,0,90deg);
  }
}

.description {

}
