.books {
  list-style: none;
  position: relative;

  li {
    position: relative;
    width: 300px;
    float: left;
    z-index: 1;
    margin: 0px 50px 40px 0;
    -webkit-perspective: 1800px;
    -moz-perspective: 1800px;
    perspective: 1800px;
    transition: transform .5s;

    &:hover {
      transform: rotate3d(0,1,0,35deg);
    }
  }
}

.book {
  & > div {
    display: block;
    position: absolute;
    background-color: #ff924a;
    transition: transform .5s;
  }

  h2 {
    color: #fff;
    font-size: 15px;
    line-height: 40px;
    padding-right: 10px;
    text-align: right;
  }

  .front,.back {
    width: 300px;
    height: 400px;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 10px;
      bottom: 0;
      width: 3px;
      background: rgba(0,0,0,0.06);
      box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
    }
  }

  .front {
    transform: translate3d(0,0,20px);
    z-index: 10;
  }

  .back {
    transform: rotate3d(0,1,0,-180deg) translate3d(0,0,20px);
    box-shadow: 10px 10px 30px rgba(0,0,0,0.3);
    border-radius: 3px 0 0 3px;

    p {
      color: #fff;
      font-size: 13px;
      padding: 40px;
      text-align: center;
      font-weight: 700;
    }
  }

  .left, .right {
    width: 40px;
    left: -20px;
  }

  .left {
    height: 400px;
    transform: rotate3d(0,1,0,-90deg);

    h2 {
      width: 400px;
      height: 40px;
      color: #fff;
      font-size: 15px;
      line-height: 40px;
      padding-right: 10px;
      text-align: right;
    }
  }

  .bottom, .top {
    width: 295px;
    height: 40px;
    top: -15px;
    background-color: #fff;
    backface-visibility: hidden;
  }
  .bottom {
    transform: rotate3d(1,0,0,-90deg) translate3d(0,0,390px);
  }
  .top {
    transform: rotate3d(1,0,0,90deg);
  }
}
