//vars
$fg:#00bcd4;
$bg:#673ab7;
$pi:3.14;

//config
$menu-items:4;
$open-distance: 175px;
$base-distance: 75px;

%goo{
  filter:url('#shadowed-goo');
}
%ball{
  background:$fg;
  border-radius:100%;
  width: 300px;
  height: 300px;
  margin-left:-40px;
  position:absolute;
  left:0;
  top:0;
  color:white;
  text-align:center;
  line-height:80px;
  transform:translate3d(0,0,0);
  transition:transform ease-out 200ms;
}
%small-ball {
  @extend %ball;
  width: 200px;
  height: 200px;
  top: 50px;
  left: 50px;
}

.menu-open{
  display:none;
}
.menu-item{
  @extend %small-ball;
}
.hamburger{
  $width:25px;
  $height:3px;
  width:$width;
  height:$height;
  background:white;
  display:block;
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-$width/2;
  margin-top:-$height/2;
  transition:transform 200ms;
}
$hamburger-spacing:8px;
.hamburger-1{
  transform:translate3d(0,-$hamburger-spacing,0);
}
.hamburger-2{
  transform:translate3d(0,0,0);
}
.hamburger-3{
  transform:translate3d(0,$hamburger-spacing,0);
}
.menu-open:checked+.menu-open-button{
  .hamburger-1{
    transform:translate3d(0,0,0) rotate(45deg);
  }
  .hamburger-2{
    transform:translate3d(0,0,0) scale(0.1,1);
  }
  .hamburger-3{
    transform:translate3d(0,0,0) rotate(-45deg);
  }
}
.menu{
  @extend %goo;
  $width:650px;
  $height:150px;
  position:absolute;
  left:50%;
  margin-left:-80px;
  padding-top:20px;
  padding-left:80px;
  width:$width;
  height:$height;
  box-sizing:border-box;
  font-size:20px;
  text-align:left;
}


.menu-item{
  &:hover{
    background:white;
    color:$fg;
  }
  @for $i from 1 through $menu-items{
    &:nth-child(#{$i+2}){
      transition-duration:1000ms - $i*100ms;
    }
  }
}

.menu-open-button{
  @extend %ball;
  z-index:2;
  transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275);
  transition-duration:700ms;
  transform:scale(1.1,1.1) translate3d(0,0,0);
  cursor:pointer;

  margin-bottom: 50px;
  border-radius: 150px;
  background-image: url('/images/me/profile.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  animation: profile 2s ease-out 1;
}
.menu-open-button:hover{
  transform:scale(1.2,1.2) translate3d(0,0,0);
}

.cover {
  @extend %ball;
  background: rgba(0, 0, 0, 0.8);
  margin: 0;
  padding: 0;
  top: 0;
}
.menu-open-button > * {
  transition: all 0.5s ease;
}
.menu-open+.menu-open-button > * {
  opacity: 0;
}
.menu-open:checked+.menu-open-button {
  &:hover {
    & > * {
      opacity: 1;
    }
  }
}

.menu-open:checked+.menu-open-button{
  transition-timing-function:ease;
  transition-duration:500ms;
  transform:scale(1,1) translate3d(0,0,0);
}

.menu-open:checked~.menu-item{
  transition-timing-function:cubic-bezier(0.165, 0.840, 0.440, 1.000);
  @for $i from 1 through $menu-items{
    $x: ceil($i/2);
    $multiplier: 0;
    @if $i%2 == 0 {
      $multiplier: 1;
    } @else {
      $multiplier: -1;
    }

    &:nth-child(#{$i+2}){
      transition-duration:500ms+(750ms*$i);
      transition-delay: 500ms*$i;
      transform: translate3d($base-distance * $multiplier + $open-distance * $x * $multiplier,0,0) scale(0.7);
    }
  }
}
