@import "../styles/variables";
@import "../styles/utilities";

@include keyframes(profile) {
  from {
    opacity: 0.1;
    transform: translateY(-30px);
    filter: blur(5px);
  }
  to {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0px);
  }
}

:host {
  display: block;
  &:after {
    content: ' ';
    display: block;
    height: 100px;
  }
}

.profile {
  @extend %center;

  height: 300px;
  width: 300px;
  margin-bottom: 50px;
  border-radius: 150px;
  background-image: url('/images/me/profile.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  animation: profile 2s ease-out 1;

  .border {
    position:relative;
    left:5px;
    top:5px;
    width:284px;
    height:284px;
    border:4px dashed white;
    border-radius:150px;
  }
}

@include keyframes(myself) {
  from {
    opacity: 0.1;
    filter: blur(10px);
  }
  to {
    opacity: 1;
    filter: none;
  }
}
.myself {
  @extend %center;
  font: {
    family: $description-font;
    size: 1.5rem;
    weight: 100;
  }
  line-height: 2em;
  max-width: 400px;
  max-width: 50vw;
  animation: myself 2s ease 1;

  & > b {
    font-weight: 400;
    font-family: Lobster;
    font-size: 2rem;
    text-shadow: 2px 2px rgba(174, 174, 174, 0.65);
  }
}
.space {
  height: 250px;
  height: calc(50vh - 250px);
}
@media only screen and (max-width: $tablet-screen) {
  .profile {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: $phone-screen) {
  .space {
    height: 220px;
  }
  .profile {
    width: 225px;
    height: 225px;
    .border {
      left: 8px;
      top: 8px;
      width: 202px;
      height: 202px;
    }
  }
  .myself {
    font-size: 1.25rem;
    line-height: 2rem;
    max-width: 100%;
    text-align: center;
    b {
      font-size: 1.5rem;
      text-shadow: 1px 1px rgba(174, 174, 174, 0.65);
    }
  }
}
@media screen and (max-height: 1000px) {
  .space {
    height: 250px;
  }
}
