// Mixins and Placeholders
%clearfix {
  &:after, &:before {
    content: '';
    display: block;
    width: 100%;
    clear: both;
  }
}

@mixin prefix($prop, $val) {
  @each $prefix in '-webkit-', '-moz-', '-ms-', '' {
    #{$prefix}#{$prop}: $val;
  }
}

@mixin filter($properties) {
  // Your vendor prefixing stuff here, I am using Bourbon:
  @include prefix(filter, $properties);
}

%center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// css3 filters
@function grayscale($value) {
  @return #{ "grayscale(" + $value + ")" };
}

@function contrast($value) {
  @return #{ "contrast(" + $value + ")" };
}

@function blur($value) {
  @return #{ "blur(" + $value + ")" };
}

// workaround for /deep/
@function deep($before, $after) {
  @return #{ $before + " /deep / " + $after };
}
