// Mixins and Placeholders
%clearfix {
  &:after, &:before {
    content: '';
    display: block;
    width: 100%;
    clear: both;
  }
}

%center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin prefix($prop, $val) {
  @each $prefix in '-webkit-', '-moz-', '-ms-', '' {
    #{$prefix}#{$prop}: $val;
  }
}

@mixin filter($properties) {
  @include prefix(filter, $properties);
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

// css3 filters
@function grayscale($value) {
  @return #{ "grayscale(" + $value + ")" };
}

@function contrast($value) {
  @return #{ "contrast(" + $value + ")" };
}

@function blur($value) {
  @return #{ "blur(" + $value + ")" };
}

// workaround for /deep/
@function deep($before, $after) {
  @return #{ $before + " /deep / " + $after };
}
