// Variables
$bg-body: #f9f9f9;

$red: #ee4d4d;
$blue: #2b2e48;
$light-blue: rgb(10, 195, 255);
$black: #2a2a2a;
$primary-color: $black;
$secondary-color: $blue;

// Typography
$base-font-title: "Dosis", arial, tahoma, verdana;
$base-font-color: #726f77;

$description-font: Dosis, Helvetica, Arial, sans-serif;

// Timeline
$timeline-color: lighten($primary-color, 10%);

// screen sizes
$tablet-screen: 1024px;
$phone-screen: 480px;
