// Variables
$bg-body: #f9f9f9;

$red: #ee4d4d;
$blue: #2b2e48;
$black: #2a2a2a;
$primary-color: $black;
$secondary-color: $blue;

// Typography
$base-font-title: "Dosis", arial, tahoma, verdana;
$base-font-color: #726f77;

$description-font: Dosis, Helvetica, Arial, sans-serif;

// Timeline
$timeline-color: $primary-color;

// screen sizes
$small: 768px;
