// Variables
$bg-body: #f9f9f9;

$red: #ee4d4d;
$blue: #2b2e48;
$light-blue: rgb(10, 195, 255);
$black: #2a2a2a;
$light-gray: lighten($black, 75%);
$dark-gray: lighten($black, 65%);
$primary-color: $black;
$secondary-color: $blue;

// Typography
$base-font: Roboto, Helvetica, arial, tahoma, verdana;
$title-font: Dosis, Helvetica, arial, tahoma, verdana;
$description-font: Roboto, Helvetica, Arial, sans-serif;

// Timeline
$timeline-color: $light-gray;
$timeline-highlight-color: $dark-gray;

// screen sizes
$tablet-screen: 1024px;
$phone-screen: 480px;
