@import "fonts";

body {
  background: #fafafa;
  font-family: Lato, "Helvetica Neue", Helvetica, "Nanum Gothic", Arial, sans-serif;
  color: #333;
}
html, body {
  height: 100%;
  margin: 0;
}
.content {
  padding: 100px;
}
