@import "../styles/utilities";
@import "fonts";
@import "loader";

body {
  background: #fafafa;
  font-family: Lato, "Helvetica Neue", Helvetica, "Nanum Gothic", Arial, sans-serif;
  color: #333;
  &.mobile {
    height: 101vh !important;
  }
}
.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}
html, body {
  height: 100%;
  margin: 0;
}
.content {
  padding: 100px;
}
