@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
@import url('http://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700');

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, "Nanum Gothic", Arial, sans-serif;
  color: #333;
}

html, body {
  height: 100%;
  margin: 0;
}
.content {
  padding: 100px;
}
